:root {
  --section-color: #2f303a;
  --element-color: #212121;
  --text-color: #757575;
  --hover-color: #2196f3;
  --bg-color: rgba(245, 244, 250, 1);
}
body {
  background-color: #ffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  width: 100%;
}

ul {
  list-style-type: none;
}
.global-header {
  display: flex;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ececec;
  align-items: center;
  justify-content: space-around;
}

/* logo styling */
.logo a {
  top: 24px;
  left: 215px;
  font-size: 24px;
  font-family: "raleway", sans-serif;
  text-decoration: none;
  color: #000000;
  margin: 0px 40px 0px;
}

.logo-first {
  color: var(--hover-color);
  letter-spacing: 3%;
}
.logo-second {
  color: #000000;
  letter-spacing: 3%;
}
.logo-second-down {
  color: #ffffff;
  letter-spacing: 3%;
}
.topnav {
  display: flex;
  width: 80%;
  justify-content: space-between;
  padding: 20px;
}
.main-navigation {
  height: 80px;
  margin-bottom: 29px;
}

.main-navigation a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 250ms ease, cubic-bezier(0.4, 0, 0.2, 1) ease;
}
.main-navigation ul {
  background-color: #ffffff;
  overflow: hidden;
  line-height: 16.41px;
  display: flex;
  width: 405px;
  height: 80px;
  list-style-type: none;
  justify-content: space-between;
}
.contacts {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.link-mail {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
}
.size-mail:active,
.size-mail {
  width: 16px;
  height: 12px;
}
.size-phone {
  width: 10px;
  height: 16px;
}
.nav-contacts {
  display: flex;
  gap: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  fill: var(--text-color);
  color: var(--text-color);
  text-decoration: none;
}
.nav-contacts:hover {
  color: var(--hover-color);
  transition: color 250ms ease, cubic-bezier(0.4, 0, 0.2, 1) ease;
  fill: var(--hover-color);
}
.main-navigation li {
  padding-top: 30px;
}
.current {
  color: var(--hover-color);
  border-bottom: 4px solid var(--hover-color);
  border-radius: 2px;
  padding-bottom: 28px;
}
.global-header-nav a:active,
.global-header-nav a:hover,
.global-header-nav a:focus,
.global-header-nav a:visited:active,
.global-header-nav a:visited:hover,
.global-header-nav a:visited:focus,
.contact-link:active,
.contact-link:hover {
  color: var(--element-color);
}

.global-header .main-navigation a:hover {
  color: var(--hover-color);
}
.vector {
  width: 13.33px;
  height: 15.99px;
  padding-top: 48.98px;
  padding-left: 481px;
}
/* title */
.first-section {
  font-weight: 900;
  height: 600px;
  size: 44px;
  line-height: 428.571%;
  letter-spacing: 6%;
  background-color: var(--section-color);
  color: #ffff;
  text-align: center;
  top: 80px;
  background-image: url("../images/background.jpg");
}
.title {
  display: inline;
  padding: 10px 449px 0px;
  font-weight: 900;
  font-size: 44px;
  justify-content: center;
}
.btnservice {
  display: flex;
  align-items: center;
  justify-content: center;
}
.request-button {
  color: #ffff;
  background-color: var(--hover-color);
  font-weight: 700;
  line-height: 214.286%;
  cursor: pointer;
  font-family: inherit;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
  border: 1px var(--hover-color);
  transition: background-color 250ms ease, cubic-bezier(0.4, 0, 0.2, 1) ease;
}
.request-button:hover {
  background-color: #188ce8;
}
.request-button:focus
.request-button:active
/* Team Qualities */
.midle-main {
  display: flex;
}
.midle-main .aboutus {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.midle-main ul {
  display: flex;
  gap: 30px;
}
.aboutus {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}
.aboutus ul {
  max-width: 1200px;
}
.middle-main {
  width: 100%;
  top: 969px;
  left: 215px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-block;
}
.icons {
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 263px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--bg-color);
}

.icons img {
  padding-top: 25px;
}
.svg-size {
  width: 70px;
  height: 70px;
  margin-top: 25px;
}

.description-title {
  font-weight: 700;
  size: 14px;
  line-height: 16.41px;
  color: var(--element-color);
}
.description-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  color: var(--text-color);
}
/* What we do */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 301.357%;
  text-align: center;
  color: var(--element-color);
}

.what-we-do-img ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 30px;
  margin-left: auto;
  position: relative;
}
.what-we-do-bg {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 3px;
}
.what-we-do-bg p {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
}
/* Our Team */
.footer-main {
  background-color: #f5f4fa;
  width: 100%;
  top: 1449px;
  height: 648px;
  align-items: center;
  text-align: center;
  display: inline-block;
}
.our-team {
  display: flex;
  justify-content: center;
}
.our-team ul {
  display: flex;

  height: 428px;
  top: 1635px;
  gap: 30px;
}
.our-team li {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px #00000033;

  box-shadow: 0px 1px 1px 0px #00000024;

  box-shadow: 0px 1px 3px 0px #0000001f;
  border-radius: 4px;
}
.team-member-name {
  font-weight: 500;
  size: 16px;
  line-height: 133.929%;
  text-align: center;
  color: var(--element-color);
}
.team-job {
  font-weight: 400;
  size: 16px;
  line-height: 133.929%;
  color: var(--text-color);
  text-align: center;
}
.social-media-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 16px;
}
.eclipse {
  width: 44px;
  height: 44px;
  top: -0px;
  background-color: #2196f3;
}
.icon {
  width: 44px;
  height: 44px;
}
.icon-tw {
  width: 20px;
  height: 20px;
}
.icon-tw use:hover {
  width: 20px;
  height: 20px;
}
.bg-color {
  width: 44px;
  height: 44px;
  background-color: transparent;
  border-radius: 50%;
  padding: 10px;
  fill: #afb1b8;
  transition: background-color 250ms ease, cubic-bezier(0.4, 0, 0.2, 1) ease;
}
.bg-color:hover {
  width: 44px;
  height: 44px;
  background-color: var(--hover-color);
  border-radius: 50%;
  padding-top: 12px;
  fill: white;
}

.clients {
  margin-top: 94px;
  margin-bottom: 94px;
}
.clients-logo ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clients-logo li {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid rgba(175, 177, 184, 1);
  transition: color 250ms ease, cubic-bezier(0.4, 0, 0.2, 1) ease;
}
.company-resize:hover {
  fill: var(--hover-color);
}
.clients-logo li:hover {
  border-color: var(--hover-color);
  fill: var(--hover-color);
}

.company-resize {
  width: 170px;
  height: 62px;
  justify-content: center;
  align-items: center;
  transition: fill 250ms ease, cubic-bezier(0.4, 0, 0.2, 1) ease;
  margin-top: 16px;
  fill: #afb1b8;
}

.footer {
  background-color: var(--section-color);
  width: 100%;
  display: flex;
  flex-direction: row;
}

.footer-logo {
  font-style: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 218%;
  letter-spacing: 3%;
  text-decoration: none;
  width: 145px;
  margin: 0px 40px 0px;
  margin-left: 255px;
  padding-top: 35px;
}
.footer-logo a {
  text-decoration: none;
}
.info {
  display: inline-block;
}
.info address a {
  text-decoration: none;
  display: flex;
  color: #757575;
  font-weight: 400;
  margin-right: 10px;
  padding: 10px 0px;
  margin-left: 215px;
}
.info span {
  color: #ffffff;
}
.social {
  width: 206px;
  height: 80px;
  margin-left: 94px;
  margin-top: 74px;
}
.social ul {
  display: flex;
  gap: 10px;
  padding: 0;
}
.social h2 {
  font-style: "roboto";
  font-size: 14px;
  font-weight: 700px;
  color: rgba(255, 255, 255, 1);
}
.bg-footer-icon:hover {
  background-color: var(--hover-color);
}
.bg-footer-icon {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding-top: 12px;
  padding-left: 12px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms ease, cubic-bezier(0.4, 0, 0.2, 1) ease;
}
.bg-color-footer {
  background-color: var(--hover-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding-top: 12px;
  padding-left: 12px;
}
.btn-submit:hover {
  background-color: #188ce8;
  color: #fff;
  box-shadow: 0px 4px 4px 0px #00000026;
}

.title-form {
  width: 448px;
  height: 23px;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.footer-section3 .subscribe-text {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fff;
  padding-top: 90px;
  padding-bottom: 15px;
  padding-left: 93px;
}

.footer-section3 input {
  background-color: rgba(47, 48, 58, 1);
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-section3 .input-email-footer {
  border-color: rgba(255, 255, 255, 0.6);
  padding-left: 93px;
}

.footer-section3 ::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-container .footer-section3 {
  display: flex;
  flex-direction: column;
  margin-left: 85px;
  background-color: rgba(47, 48, 58, 1);
}

.subscribe-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: rgba(33, 150, 243, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-section4 .subscribe-icon {
  width: 20px;
  height: 20px;
}

.btn-subscribe {
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--hover-color);
  color: #fff;
  border: none;
  padding-left: 43px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
}
.footer-section4 {
  padding-top: 121px;
  padding-left: 10px;
}

/* PORTOFOLIO */
.portofolio-size {
  margin-top: 94px;
  margin-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}
.filter-button ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0px 200px 48px 0px;
  border-radius: 4px;
}

.button-container {
  width: 516px;
  height: 38px;
  top: 174px;
  left: 542px;
  display: flex;
  align-items: center;
  margin: 0px 0px 56px 215px;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-buttons {
  font-weight: 500;
  height: 38px;
  width: 120px;
  font-size: 16px;
  line-height: 1.85;
  font-family: inherit;
}
.portfolio-buttons:hover {
  background-color: var(--hover-color);
  color: white;
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px #0000001f;
  border-radius: 4px;
}
.portfolio-buttons:active,
.portfolio-buttons:focus {
  background-color: var(--hover-color);
  color: #ffff;
}

/* Styling buttons */
.styling-button {
  background-color: var(--hover-color);
  color: #ffffff;
}

/* Styling Portofolio Section */
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 257.143%;
  color: var(--element-color);
}
.project-type {
  font-size: 16px;
  line-height: 214.286%;
  color: var(--text-color);
}
.product-store ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 0px 0px 94px 0px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.product-store ul :hover {
  box-shadow: 21px 10px 16px 0px rgba(0, 0, 0, 0.16);

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);

  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.project-item {
  border-bottom: 1px solid #eeeeee;
  padding: 0px 25px;
}
/* BUTTON MODAL */
.modal {
  position: fixed;
  width: 528px;
  height: 581px;
  top: 20%;
  left: 35%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.is-hidden {
  visibility: hidden;
}
.modal:not(.is-hidden) {
  animation: fadeIn 0.9s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.hidden-overlay {
  position: relative;
  margin: 0;
  overflow: hidden;
}
.inside-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: var(--hover-color);
  transform: translatey(133%);
  transition: transform 250ms ease-in-out;
  opacity: 80%;
}
.hidden-overlay:hover .inside-content {
  transform: translateY(0);
}
/* Styling Modal */
.close-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.close-btn:hover {
  color: var(--hover-color);
}
.modal-content {
  display: flex;
  flex-direction: column;
  margin: 40px 40px;
  gap: 10px;
}
.input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.input-container input,
textarea {
  border: 1px solid rgba(117, 117, 117, 1);
  border-radius: 4px;
  height: 40px;
  padding: 11px 12px 11px 42px;
  outline: none;
  transition: color 250ms ease, cubic-bezier(0.4, 0, 0.2, 1) ease;
}
textarea:focus {
  border: 1px solid var(--hover-color);
}
input:focus {
  border: 1px solid var(--hover-color);
}
input:focus + svg {
  fill: var(--hover-color);
}
label {
  font-family: "roboto" sans-serif;
  font-size: 12px;
}
.input-container svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: calc(50% - 9px);
  left: 12px;
}
textarea {
  height: 120px;
}
.tacbox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tacbox label {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-left: 7px;
}

.send-btn {
  display: flex;
  justify-content: center;
}
.send-btnn {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  size: 16px;
  color: #ffffff;
  background-color: var(--hover-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.send-btnn:hover {
  background-color: rgba(24, 140, 232, 1);
}
/* PHONE */
@media screen and (max-width: 768px) {
  .topnav {
    display: none;
  }
  .menu-button svg {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 19px;
    right: 15px;
    cursor: pointer;
  }
  .logo {
    position: absolute;
    left: 15px;
  }
  .logo-first,
  .logo-second {
    font-size: 24px;
  }
  .js-menu-container {
    display: none;
  }
  .js-menu-container .is-open {
    display: flex;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 40px 40px;
  }
}
/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1157px) {
}
/* DESkTOP */
@media screen and (min-width: 1157px) {
  .menu-button {
    display: none;
  }
  .js-menu-container {
    display: none;
  }
}
